---
layout: menupage.njk
subnavlist:
    -
        title: Here Honour Lies
        path: honour-lies
        chapters:
        - { tag: "units", title: "Units" }
        - { tag: "terrain", title: "Terrain" }
        - { tag: "bidding", title: "Bidding" }
        - { tag: "disorder", title: "Disorder" }
    -
        title: Gameplay
        path: honour-lies/gameplay.html
        chapters:
        - { tag: "setup", title: "Setup" }
        - { tag: "rounds", title: "Rounds" }
        - { tag: "activations", title: "Activations" }
        - { tag: "combat", title: "Combat" }
    -
        title: Army Builder
        path: honour-lies/army.html
        chapters:
        - { tag: "types", title: "Types" }
        - { tag: "roles", title: "Roles" }
        - { tag: "special-rules", title: "Special Rules" }
    -
        title: Advanced Rules
        path: honour-lies/advanced.html
        chapters:
        - { tag: "strategy", title: "Strategy" }
        - { tag: "tactics", title: "Tactics" }
        - { tag: "factions", title: "Factions" }
---
{{ content | safe }}