---
layout: menupage.njk
subnavlist:
    -
        title: Here Honour Lies
        path: honour-lies
        chapters:
        - { tag: "units", title: "Units" }
        - { tag: "formations", title: "Formations" }
        - { tag: "bidding", title: "Bidding" }
        - { tag: "disorder", title: "Disorder" }
        - { tag: "terrain", title: "Terrain" }
        - { tag: "addenda", title: "Addenda" }
    -
        title: Gameplay
        path: honour-lies/gameplay.html
        chapters:
        - { tag: "setup", title: "Setup" }
        - { tag: "rounds", title: "Rounds" }
        - { tag: "activation", title: "Activation" }
        - { tag: "combat", title: "Combat" }
    -
        title: Army Builder
        path: honour-lies/army-builder.html
        chapters:
        - { tag: "types", title: "Types" }
        - { tag: "roles", title: "Roles" }
        - { tag: "special-rules", title: "Special Rules" }
        - { tag: "quick-builder", title: "Quick Builder" }
    -
        title: Advanced Rules
        path: honour-lies/advanced-rules.html
        chapters:
        - { tag: "heroes", title: "Heroes" }
        - { tag: "strategy", title: "Strategy" }
        - { tag: "orders", title: "Orders" }
---
{{ content | safe }}