---
layout: menupage.njk
subnavlist:
    -
        title: Aeronautica Imperialis
        path: resources/aeronautica.html
        chapters:
        - { tag: "expanded-damage", title: "Expanded Damage" }
        - { tag: "ace-abilities", title: "Expanded Ace Abilities" }

---
{{ content | safe }}