---
layout: menupage.njk
subnavlist:
    -
        title: Scenarios
        path: scenarios
    -
        title: The Score
        path: scenarios/score.html
    -
        title: The Nest
        path: scenarios/nest.html
    -
        title: The Tragedy
        path: scenarios/tragedy.html
    -
        title: The Trap
        path: scenarios/trap.html
    -
        title: The Gathering
        path: scenarios/gathering.html
    -
        title: The Clash
        path: scenarios/clash.html
---
{{ content | safe }}