---
sitename: The Godbreaker Saga
navlist:
    - rules
    - scenarios
    - resources
---
<!doctype html>
<html lang="en" class="bg-dark">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if title %}{{ title }} - {% endif %}{{ sitename }}</title>
    <link rel="manifest" href="/manifest.json" crossorigin>
    <link rel="stylesheet" href="/bootstrap.min.css">
    <link rel="stylesheet" href="/styles.css">
</head>
<body class="bg-dark">
    <header class="p-3 text-bg-dark">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <ul class="nav col-sm-6 col-lg-auto justify-content-center">
                    <li>
                        <a href="/" class="site-title font-vollkorn nav-link px-2 text-white">{{ sitename }}</a>
                    </li>
                </ul>
                <ul class="nav col-sm-6 justify-content-center">
                {% for nav in navlist %}
                    <li>
                        <a href="/{{ nav }}" class="font-vollkorn nav-link px-2 {% if (current == nav) %}text-white{% else %}text-secondary{% endif %}">
                            {{ nav.charAt(0).toUpperCase() }}{{ nav.substring(1) }}
                        </a>
                    </li>
                {% endfor %}
                </ul>
            </div>
        </div>
    </header>
    {{ content | safe }}
    <footer class="footer text-bg-dark">
        <div class="container">
            <span class="text-muted">An omnipotent skirmish wargame by Robin Uney</span>
        </div>
    </footer>
</body>
</html>